<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">BESOIN D'AIDE OU D'ORIENTATION?</h2>
            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Si vous avez des questions concernant notre Banque, n'hésitez pas à nous contacter.
              <br>Nous sommes toujours disponibles pour ceux dans le besoin et notre équipe vous répondra dans un court délai.</p>
            <a href="/contact" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s"
              data-wow-duration="500ms">Contactez-nous</a>
        </div>
      </div>
      </div>
    </div>
  </section>