<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html class="no-js">

<%- include('./partials/newhead'); %>
    <body>

<!--
        ==================================================
        Header Section Start
        ================================================== -->

        <%- include('./partials/newHeader'); %>

<!--=================================
=            404 Section            =
==================================-->
<section class="moduler wrapper_404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">404</h1>
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s">Opps! Un problème est survenu...</h2>
          <p class="wow fadeInUp animated" data-wow-delay=".9s">La page que vous cherchez a soit été modifiée, déplacée, retirée ou n'existe tout simplement pas.</p>
          <a href="/" class="btn btn-dafault btn-home wow fadeInUp animated hvr-bounce-to-right"
            data-wow-delay="1.1s">Retourner à l'accueil</a>
        </div>
      </div>
    </div>
  </div>
</section>

    <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->

            <%- include('./partials/contactme'); %>

    <!--
            ==================================================
            Footer Section Start
            ================================================== -->


            <%- include('./partials/newFooter'); %>

            <!-- /#footer -->


 	</body>
</html>