<!DOCTYPE html>


<html class="no-js">
    
<%- include('./partials/newhead'); %>
    <body>

<!--
        ==================================================
        Header Section Start
        ================================================== -->

        <%- include('./partials/newHeader'); %>

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>À Propos de NOUS : </h2>
                            <ol class="breadcrumb list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Accueil  &nbsp; &nbsp;/
                                    </a>
                                </li>
                                <li class="active list-inline-item">À Propos</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- 
================================================== 
    Company Description Section Start
================================================== -->
<section class="company-description">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
        <img src="images/about/about-company.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="block">
          <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Ce qui nous rend différents</h3>
          <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
              Nous croyons que tout le monde mérite l'accès à une nourriture nutritive.
               C'est pourquoi nous travaillons dur pour trouver des produits frais cultivés localement et des aliments de base sains qui répondent à nos normes élevées en matière de qualité et de nutrition. 
               Mais nous sommes plus qu'une simple banque alimentaire - nous sommes une famille.
          </p>
          <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
              Nous sommes une organisation à but non lucratif dédiée à fournir une aide alimentaire à ceux qui en ont besoin.
              Notre objectif est d'aider tout le monde dans notre communauté, quelle que soit sa situation.
          </p>
  
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- 
================================================== 
    Company Feature Section Start
================================================== -->

<section class="about-feature clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 px-0">
        <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
          <h2>
            Notre Mission
          </h2>
          <p>
              Notre mission est de fournir une aide alimentaire à ceux qui en ont besoin, tout en favorisant l'autonomie et le soutien communautaire. Nous croyons que tout le monde mérite l'accès à une nourriture saine et nous sommes déterminés à faire de cela une réalité pour notre communauté.
          </p>
        </div>
      </div>
      <div class="col-lg-4 px-0">
        <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
          <h2 class="item_title">
            Comment vous pouvez aider
          </h2>
          <p>Il y a de nombreuses façons de vous impliquer et de faire une différence chez Adrianna Espace Collectif : <b>Bénévolat, Don, Sensibilisation :</b> Ensemble, nous pouvons faire une différence dans la vie de ceux qui en ont besoin. Contactez-nous aujourd'hui pour en savoir plus sur la façon d'aider.</p>
          </p>
        </div>
      </div>
      <div class="col-lg-4 px-0">
        <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
          <h2 class="item_title">
            Notre Impact
          </h2>
          <p>
            Nous avons eu un grand impact dans la lutte contre l'insécurité alimentaire dans notre communauté. Grâce à nos efforts et notre determination, nous avons pu fournir une assistance nutritive à des milliers de familles dans le besoin tout en respectant leurs besoins ou leurs demandes.   </div>
        </div>
      </div>
    </div>
  </section>



            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->

            <%- include('./partials/contactme'); %>

            <!--
                    ==================================================
                    Footer Section Start
                    ================================================== -->
        
        
                    <%- include('./partials/newFooter'); %>
           <!-- /#footer -->


 	</body>
</html>