<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            max-width: 50%;
            max-height: 50%;
        }
    </style>
</head>
<body>
    <%- include('./partials/header.ejs'); %>

    <div style="text-align: center;">
        <% switch(CONFIRMED) {
            case 'confirm':
                %>
                <p>Confirmation de l'abonnement effectué!</p>
                <img src="/images/Check.png" alt="Confirmation Image">
                <%
                break;
            case 'cancel':
                %>
                <p>L'abonnement a été annulé.</p>
                <img src="/images/Cross.png" alt="Confirmation Image">
                <%
                break;
            case 'expired':
                %>
                <p>Le lien de confirmation a expiré.</p>
                <img src="/images/Cross.png" alt="Confirmation Image">
                <%
                break;
            case 'error':
                %>
                <p>Une erreur s'est produite lors de la confirmation de l'abonnement.</p>
                <img src="/images/Cross.png" alt="Confirmation Image">
                <%
                break;
            default:
                %>
                <p>La confirmation de l'abonnement</p>
                <img src="/images/Cross.png" alt="Confirmation Image">
                <%
                break;
        } %>
        <p>Vous serez bientôt redirigé vers la page d'accueil...</p>
    </div>

    <%- include('./partials/footer.ejs'); %>
    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); // 5 seconds
    </script>
</body>

</html>
